@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Merriweather';
    src: url(../fonts/Merriweather-LightItalic.ttf);
}

body {
    font-family: 'Inter', sans-serif;
}